
<mat-dialog-content>
    <h3>Forgot Password</h3>
    <div class="input-box">
        <input type="email" #email name="Registered EmailId" required>
        <label>Email</label>
    </div>
    <div class="input-box">
        <input type="number" #phonenumber name="Registered Contact Number" required>
        <label>Registered Contact Number</label>
    </div>
    <div class="input-box">
        <input type="password" #newpassword name="New Password" required>
        <label>Enter Your New Password</label>
    </div>
    
    <div class="btn-cancel">
        <button mat-raised-button class="btncancel" (click)="onCancel()">Cancel</button>
    </div>
    <button type="submit" class="btn" (click)="onSubmit(email.value, phonenumber.value, newpassword.value)">Submit</button>
</mat-dialog-content>