/* .mat-dialog-content {
    background: transparent;
} */

/* @keyframes animateBlink {
    0% {
        background: #D4AF37;
    }

    25% {
        background: #D4AF37;
    }
} */

.login-box {
    position: absolute;
    width: 400px;
}

.login-box form {
    width: 100%;
    padding: 0 10px;
}

h3 {
    font-size: 2em;
    color: #D4AF37;
    text-align: center;
}

.input-box {
    position: relative;
    margin: 25px 0;
    width: 400px;
    height: fit-content;
}

.input-box input {
    width: 90%;
    height: 40px;
    background: transparent;
    border: 2px solid #D4AF37;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #000000;
    padding: 0 10px;
    transition: .5s ease;
    /* align-content: center; */
}

.input-box input:focus,
.input-box input:valid {
    border-color: #D4AF37;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 0.80em;
    color: #D4AF37;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    font-size: .8em;
    background: #ffffff;
    /*1f293a*/
    padding: 0 6px;
    color: #D4AF37;
}



.btn-cancel {
    margin: -15px 0 10px;
    text-align: center;
}

.btn-cancel button {
    font-size: .85em;
    color: #D4AF37;
    background: transparent;
    text-decoration: none;
    border: none;
}

.btn-cancel button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 45px;
    background: #D4AF37;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
}