@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.parent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97.5vh;
    background-color: #000000;
    overflow: hidden;
}

.parent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("PGBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    opacity: 0.6;
    z-index: 0;
}

.parent>* {
    position: relative;
    z-index: 1;
}
h2 {
    font-size: 2em;
    color: #D4AF37;
    text-align: center;
    margin: 20px;
}

.container {
    position: relative;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes animateBlink {
    0% {
        background: #D4AF37;
    }

    25% {
        background: #D4AF37;
    }
}
.signup-box {
    position: absolute;
    width: 700px;
}

.signup-box form {
    width: 100%;
    padding: 0 40px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.input-box {
    position: relative;
    margin: 3px 0;
    display:flex;
    flex-direction: column;
}
.input-box input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid #D4AF37;
    outline: none;
    border-radius: 40px;
    font-size: 0.9em;
    color: #fff;
    padding: 0 20px;
    transition: .5s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #D4AF37;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #D4AF37;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    font-size: .8em;
    background: #000308;    
    padding: 0 6px;
    color: #D4AF37;
}
.btn {
    width: 60%;
    height: 45px;
    margin-left: 25%;
    background: #D4AF37;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    margin-top: 20px;
}

.login-link {
    margin: 20px 0 10px;
    text-align: center;
}

.login-link a {
    font-size: 1em;
    color: #D4AF37;
    text-decoration: none;
    font-weight: 400;
}

.login-link a:hover {
    text-decoration: underline;
}


